* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
#box {
  background-color: blue;
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  overflow: auto;
}
#content {
  background-color: #90EE90; /* green */
}